<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <castle>
    <components>
      <component id="IoCContainer"
                 service="Tunney.Common.IoC.IIoCContainer, Tunney.Common"
                 type="Tunney.Common.IoC.CastleWindsorContainer, Tunney.Common"/>
    </components>
  </castle>
</configuration>