<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tunney.Common.Properties.Settings.Automation_StatisticsConnectionString1"
            connectionString="Data Source=LOCALHOST;Initial Catalog=Automation_Statistics;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>